/** LIST **/
.listContainer {
    overflow: visible;
}

.searchBarContainer {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.listParagraph {
    text-align: center;
    margin-top: 50px;
    color: gray;
}

/** LIST COMPONENT HEADER */
.listComponentHeader {
    padding: var(--list-header-padding);
}

/** LIST ITEM **/

.listItemMetric {
    width: 40px;
    flex-shrink: 0;
    margin-right: 16px;
}

.listItemToggle {
    width: 36px;
    flex-shrink: 0;
    margin-right: 16px;
}

.listItemLink {
    min-width: 0;
    margin-left: 10px;
    font-size: var(--p-size);
}

.listItemStrategies {
    flex-shrink: 0;
    margin-left: auto;
}

.strategyChip {
    margin-left: 8px;
}

.typeChip {
    margin: 0 8px;
    box-shadow: var(--chip-shadow);
    background-color: #b0bec5;
    font-size: var(--p-size);
}
