.strategyList {
    color: red;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.strategyList td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.strategyList td.action {
    text-align: right;
}
